<nav class="navbar navbar-expand-lg  navbar-light bg-light">
    <div class="container-fluid"  >
      <a class="navbar-brand" href="#" >
        <img src="https://img.pikbest.com/png-images/travel-logo-professional-design_5709778.png!bw340" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Travel Here Tour All Time 
      </a>
      <div class="d-flex">
        
        <h5>Follow Us on </h5> &nbsp; &nbsp;
             
            <h6><span class="social-icon social-facebook"><i class="fa fa-facebook"></i></span></h6> &nbsp; &nbsp;
             
            <h6><span class="social-icon social-google"><i class="fa fa-google"></i></span></h6> &nbsp; &nbsp;
          <h6>  <span class="social-icon social-linkedin"><i class="fa fa-linkedin"></i></span> </h6>&nbsp; &nbsp;
            <h6> <span class="social-icon social-instagram"><i class="fa fa-instagram"></i></span> </h6>&nbsp; &nbsp;
              <h6><span class="social-icon social-twitter"><i class="fa fa-twitter"></i></span></h6>
        
    </div>
    </div>
  </nav>
 

   
            
     



  
<div class="footer">
  <p>©2022 by Capgemini JEE Angular Group7. All Rights Reserved.</p>
</div>

<router-outlet></router-outlet>

